node_modules
.env
.env.*
!.env.example
dist
.output
.cache
.vercel
/build/
/api/
/server/build
/public/build
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.DS_Store
package-lock.json
yarn.lock
v2_design